<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="certifications">
  <div class="w-100">
    <h2 class="mb-5">Certifications</h2>
    <ul class="fa-ul mb-0">
      <li>
        <i class=""><img src="assets/image/MTA.png" width="45" height="45"></i>
        Certification Microsoft Technology Associate (MTA) , lien de vérification: <a href="verify.certiport.com">verify.certiport.com</a>
        <ul class="fa-ul mb-0">
          <li>Software Development Fundamentals (code : wLBoQ-FMEe)
            <i class="fas fa-download" style="cursor:pointer" (click)="downloadPdf('assets/file/software_developpement.pdf','DIAKITE software_developpement')"></i>
          </li>
          <li>Database Administration Fundamentals (code : 84nR-uGsJ)
            <i class="fas fa-download"style="cursor:pointer" (click)="downloadPdf('assets/file/database administration fundamentals.pdf','DIAKITE database administration fundamentals')"></i>
          </li>
          <li>Introduction to programming using Python (code : wA5m5-2FwT)
            <i class="fas fa-download"style="cursor:pointer" (click)="downloadPdf('assets/file/python.pdf','DIAKITE python certif')"></i>
          </li>
          <li>Introduction to programming using Java (code : 5V3M-4TWx)
            <i class="fas fa-download"style="cursor:pointer" (click)="downloadPdf('assets/file/java.pdf','DIAKITE java certif')"></i>
          </li>
          <li>Introduction to programming using HTML/CSS (code : uXXH-XMhk)
            <i class="fas fa-download" style="cursor:pointer" (click)="downloadPdf('assets/file/html_css.pdf','DIAKITE html_css certif')"></i>
          </li>
        </ul>
      </li>
      <li>
    </ul>
  </div>
</section>

<hr class="m-0">
