<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experiences">
  <div class="w-100">
    <h2 class="mb-5">{{"exp1" | translate}}</h2>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">{{"exp2" | translate}}</h3>
        <p>
          {{"exp3" | translate}}
        </p>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">{{"exp4" | translate}}</h3>
        <div class="subheading mb-3">{{"exp5" | translate}}<a href="https://www.veone.net/">Veone</a></div>
        <p>
          {{"exp6" | translate}}
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{"exp7" | translate}}</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">{{"exp8" | translate}}</h3>
        <div class="subheading mb-3">{{"exp9" | translate}} <a href="https://www.esatic.ci/">ESATIC</a></div>
        <p>
          {{"exp10" | translate}}
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{"exp11" | translate}}</span>
      </div>
    </div>
  </div>

</section>

<hr class="m-0">
