<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experiences">
  <div class="w-100">
    <h2 class="mb-5"><!--{{"exp1" | translate}}-->Expériences</h2>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0"><!--{{"exp2" | translate}}-->Développeur</h3>
        <p>
          <!--{{"exp3" | translate}}-->
          Développeur depuis 2015, j’ai réalisé un certain nombre de logiciel dans le cadre académique et personnel.
          Je me suis familiarisé avec les différents langages à travers des mini projets.
          J’ai réalisé des projets scientifiques au niveau académique et personnel.
          Vous trouverez sur mon compte github les différents projets que j’ai réalisé.
        </p>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0"><!--{{"exp4" | translate}}-->Développeur Symfony 4</h3>
        <div class="subheading mb-3"><!--{{"exp5" | translate}}-->Stagiaire à <a href="https://www.veone.net/">Veone</a></div>
        <p>
          <!--{{"exp6" | translate}}-->
          Etant en stage, j'ai travaillé sur un microservice de test du projet Drive avec l'outils cloud Openstack.
          J'ai travaillé sur le module ObjectStore qui consistait à gérer les différentes ressources qui seront hébergées sur le cloud.
          Pour effectuer les différentes opérations, j'ai utilisé le SDK Php-Opencloud.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary"><!--{{"exp7" | translate}}-->23 Décembre 2019 - 22 Mars 2020</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0"><!--{{"exp8" | translate}}-->Développeur django</h3>
        <div class="subheading mb-3"><!--{{"exp9" | translate}}-->Projet interne <a href="https://www.esatic.ci/">ESATIC</a></div>
        <p>
          <!--{{"exp10" | translate}}-->
          Mise en place d'une plateforme d'optimisation du dernier kilomètre des livraisons de la NPSP-CI
          (Nouvelle pharmacie de la Santé Publique Côte d'Ivoire). Dans ce projet, nous faisons la gestion ainsi que
          l'optimisation des intinéraires proposés lors de la planification des distributions de medicaments effectuée par
          la NPSP-CI en Côte d'ivoire. Ce projet a été élaboré par moi ainsi que deux autres collaborateurs qui sont Kéré
          Mohamed Bashir et Soro Oumar. Cette application est une première version avec django. Dans l'avenir,
          nous allons orienter notre architecture vers les microservices ainsi que le RestFul.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">
          <!--{{"exp11" | translate}}-->
          O5 Décembre 2019 - 06 Mars 2020
        </span>
      </div>
    </div>
  </div>

</section>

<hr class="m-0">
