<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interets">
  <div class="w-100">
    <h2 class="mb-5"><!--{{"inte1" | translate}}-->Compléments d'information & Intérêts</h2>
    <p>
      <!--{{"inte2" | translate}}-->
      Bonne condition physique, facilité d’apprentissage, rigueur dans le travail,
      facilité d’intégration , j’aime le travail de groupe.
    </p>
    <p class="mb-0">
      <!--{{"inte3" | translate}}-->
      En plus du travail, j'aime bien le football et le cinéma.
    </p>
  </div>
</section>
