<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="competences">
  <div class="w-100">
    <h2 class="mb-5"><!--{{"comp1" | translate}}-->Compétences</h2>

    <div class="subheading mb-3"><!--{{"comp2" | translate}}-->Langages et Frameworks</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <img src="assets/image/php-96.png" alt="Image php" title="Langage PHP"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/javascript-96.png" alt="Image Javascript" title="Langage Javascript"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/java-96.png" alt="Image java" title="Langage Java SE"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/python-96.png" alt="Image python" title="Langage Python"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/c-sharp-logo-96.png" alt="Image Csharp" title="Langage Csharp"/>
      </li>
    </ul>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <img src="assets/image/symfony-96.png" alt="Image symfony" title="Framework Symfony"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/django-96.png" alt="Image django" title="Framework django"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/spring-logo-96.png" alt="Image spring boot" title="Framework spring boot"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/angularjs-96.png" alt="Image angular" title="Framework angular"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/flutter-96.png" alt="Image flutter" title="Framework flutter"/>
      </li>
    </ul>

    <div class="subheading mb-3"><!--{{"comp3" | translate}}-->Base de données</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <img src="assets/image/mysql-96.png" alt="Image mysql" title="BD Mysql"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/mongodb-96.png" alt="Image mongodb" title="BD MongoDB"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/microsoft-sql-server-96.png" alt="Image Sql Server" title="BD Sql Server"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/oracle-logo-96.png" alt="Image Oracle" title="BD Oracle"/>
      </li>
    </ul>

    <div class="subheading mb-3"><!--{{"comp4" | translate}}-->Environnements de travail</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <img src="assets/image/ubuntu-96.png" alt="Image Ubuntu" title="OS Ubuntu"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/windows-10-96.png" alt="Image Windows 10" title="OS Windows 10"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/old-vmware-logo-96.png" alt="Image VM ware" title="VM ware"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/git-96.png" alt="Image Git" title="Git software"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/github-96.png" alt="Image Github" title="Repository Github"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/gitlab-96.png" alt="Image Gitlab" title="Repository Gitlab"/>
      </li>
    </ul>

    <div class="subheading mb-3"><!--{{"comp5" | translate}}-->Autres</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <img src="assets/image/microsoft-word-2019-96.png" alt="Image Microsoft word" title="Microsoft word"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/microsoft-excel-2019-96.png" alt="Image Microsoft Excel" title="Microsoft Excel"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/microsoft-powerpoint-2019-96.png" alt="Image Microsoft Power point" title="Microsoft Power point"/>
      </li>
      <li class="list-inline-item">
        <img src="assets/image/microsoft-project-2019-96.png" alt="Image Microsoft Project" title="Microsoft Project"/>
      </li>
    </ul>

    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        <!--{{"comp6" | translate}}-->Développement agile & Scrum</li>
    </ul>
  </div>
</section>

<hr class="m-0">
