<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="formations">
  <div class="w-100">
    <h2 class="mb-5">{{"forma1" | translate}}</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">{{"forma2" | translate}}</h3>
        <div class="subheading mb-3">{{"forma3" | translate}}</div>
        <div>{{"forma4" | translate}}</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2016-2017</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">{{"forma2" | translate}}</h3>
        <div class="subheading mb-3">{{"forma5" | translate}}</div>
        <div>{{"forma4" | translate}}</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2017-2018</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">{{"forma6" | translate}} (ESATIC)</h3>
        <div class="subheading mb-3">{{"forma7" | translate}}</div>
        <div>{{"forma8" | translate}}</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2019-2020</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">{{"forma9" | translate}}</h3>
        <div class="subheading mb-3">{{"forma10" | translate}}</div>
        <div></div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{"forma11" | translate}}</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">{{"forma12" | translate}}</h3>
        <div class="subheading mb-3">{{"forma13" | translate}}</div>
        <div></div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{"forma14" | translate}}</span>
      </div>
    </div>
  </div>
</section>

<hr class="m-0">
