<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="formations">
  <div class="w-100">
    <h2 class="mb-5">Formations</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Université Felix Houphouët B.</h3>
        <div class="subheading mb-3">Licence de Science Informatique</div>
        <div>Département de Mathématique-Informatique </div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2016-2017</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Université Felix Houphouët B.</h3>
        <div class="subheading mb-3">Master 1 Base de Données et Génie Logiciel</div>
        <div>Département de Mathématique-Informatique </div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2017-2018</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Ecole Supérieure Africaine des TIC (ESATIC)</h3>
        <div class="subheading mb-3">Master 2 Système d’Information et Génie Logiciel</div>
        <div>Pas encore terminé</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2019-2020</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">IECD(INSTITUT EUROPEEN DE COOPERATION ET DE DEVELOPPEMENT)</h3>
        <div class="subheading mb-3">Formation pour porteur de projet (MPE)</div>
        <div></div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Avril 2017 - Août 2017</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">JCI (Jeune chambre internationale)</h3>
        <div class="subheading mb-3">Séminaire "Un jeune, une idée, un emploi"</div>
        <div></div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">08 Juin 2019</span>
      </div>
    </div>
  </div>
</section>

<hr class="m-0">
