<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="langues">
  <div class="w-100">
    <h2 class="mb-5"><!--{{"lang1" | translate}}-->Langues</h2>
      <ul class="list-inline dev-icons">
        <li class="list-inline-item">
          <!--{{"lang2" | translate}}-->Français
        </li>
      </ul>
      <ul class="list-inline dev-icons">
        <li class="list-inline-item">
          <!--{{"lang3" | translate}}-->Anglais
        </li>
      </ul>
  </div>
</section>

<hr class="m-0">
